<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h3>
<p><%= @restaurant.phone_number %></p>

<% i = 1 %>
<% @reviews.each do |review| %>
  <h3>Review <%= i %></h3>
  <% i += 1 %>
  <p>Content: <%= review.content %></p>
  <p>Stars: <%= review.rating %></p>
<% end %>
<br>
<h1>Create review</h1>

<%= render 'form' %>

<%= link_to 'Menu', restaurants_path %>
